#number-guess, #result, #history{
    max-width: 400px;
    margin: 0 auto;
}

#history{
    margin-top: 20px;
}

.banner{
    color: #ffd23f;
    font-size: 90px;
    font-family: sans-serif;
}

#number-submit, #restart-game{
    margin-top: 10px;
}